<div class="container role">    
   
    <div class="is-flex is-flex-direction-column">
        <div class="mr-4">
            Tech Stack:
        </div>
        <div class="p-2 is-flex is-flex-direction-row  is-flex-wrap-wrap">
            <div class="p-2">
                <div class="">
                    <img src="{{ site.baseurl }}/assets/images/brands/mongo.svg"/>
                    <br>
                    <span class="is-size-7">MongoDB</span>
                </div>
            </div>
            <!--  -->
            <div class="p-2">
                <div class="">
                    <img src="{{ site.baseurl }}/assets/images/brands/node.svg"/>
                    <br>
                    <span class="is-size-7">Nodejs</span>
                </div>
            </div>
            <!--  -->
            <div class="">
                <div class="p-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/git.png"/>
                    <br>
                    <span class="is-size-7">Git</span>
                </div>
            </div>
            <div class="">
                <div class="p-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/docker.svg"/>
                    <br>
                    <span class="is-size-7">Docker</span>
                </div>
            </div>
            <div class="">
                <div class="p-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/nginx.svg"/>
                    <br>
                    <span class="is-size-7">Nginx</span>
                </div>
            </div>
            <div class="">
                <div class="p-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/digital_ocean.svg"/>
                    <br>
                    <span class="is-size-7">Digital Ocean</span>
                </div>
            </div>
        </div>
        
    </div>
    
</div>