<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="coderafiki">
                <img class="logo" src='{{ site.baseurl }}/assets/images/profile-image.jpeg'/>
                <span class="logo-text">Emmanuel</span>
            </div>
            <div class="ninja">
                <div class="made-by">
                    Designed and coded with love by Me <span>
                        <img src='{{ site.baseurl }}/assets/images/emoji/happy-emoji.svg'/>
                    </span>!
                </div>
            </div>
        </div>
    </div>
</footer>