<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="coderafiki">
                <img class="logo" src='{{ site.baseurl }}/assets/images/brands/python.png'/>
                <span class="logo-text">Coderafiki</span>
            </div>
            <div class="ninja">
                <div class="made-by">
                    Designed and coded with love by Coderafiki
                </div>
            </div>
        </div>
    </div>
</footer>