
<section class="hero is-fullheight" id="hero">

		<!-- <img class="animate-on-visibility background" alt="" src="{{ site.baseurl }}/assets/images/cover.jpg"> -->
		
		<div class="hero-body">	
			<div class="container" style="min-height: 100vh;">		
				<div class="columns">
					<div class="column m-4 zoom-on-scroll animate__animated animate__pulse animate_slow" >
						<div class="">
							<span class="">
								<div id="auto-text" style="height: 50px;" class="p-2 is-size-4"></div>
							</span>
							<br>
						</div>	
						
						<div class="">
							<div class="p-2 is-flex is-align-content-center is-flex-direction-row is-flex-wrap-wrap">
								<div class="profile-image pr-4 animate-on-visibility animate__animated animate__pulse animate__slow">
									<img src="{{ site.baseurl }}/assets/images/profile-image.jpeg"/>
								</div>
								<div class="">
									<span class="is-orange is-size-4">Emmanuel K. Davidson</span>
									<br>
									<span>About me</span>
									<br>
									kipronofb@gmail.com
									
									<div class="social-media is-flex is-flex-direction-row">

										<a href="https://www.linkedin.com/in/emmanuel-davidson-75988991/" target="_blank">
										<img src="{{ site.baseurl }}/assets/images/brands/linkedin.svg"/>

										</a>
										<a href="https://github.com/FAenX" target="_blank">
										<img src="{{ site.baseurl }}/assets/images/brands/github.svg"/>
										</a>
									</div>
								</div>								
							</div>

							<div class="p-2 is-white is-size-2">
								Software Developer
							</div>

							<div class="p-2 is-muted">
								I am a  software developer with more than 4 years of coding experience in a variety of settings.
								I currently
								work as a full stack (NodeJs, React, TSQL and devops) at TheJitu.com in Nyeri kenya. 
								I love writing code and travelling. 
							</div>
					</div>
					<div class="column">
						<div class="p-4">
							<!-- <div>Work Experience</div> -->
							<!-- <div>Period: 2020-2021 </div> -->
						</div>
						<div class="p-4">
								{%- include current-role-tech-stacks.html -%}
						</div>
						
					</div>
				</div>	
					<div class="column m-4">
						{% include skills.html %}
						
					</div>
				</div>
			</div>		
		</div>
	
</section>

<script async src='{{ site.baseurl }}/assets/js/typingEffect-b.js'></script>

