
<section class="hero is-fullheight" id="hero">

		<!-- <img class="animate-on-visibility background" alt="" src="{{ site.baseurl }}/assets/images/cover.jpg"> -->
		
		<div class="hero-body pt-6">	
			<div class="container" style="min-height: 100vh;">		
				<div class="columns">
					<div class="column p-6 m-4" >
						<h2 class="is-size-2">
							<span class="has-text-weight-bold">
								<div id="auto-text" style="height: 50px;" class="p-2"></div>
							</span>
							<br>
						</h2>	
						
						<div>
							<div class="p-2 is-orange is-size-4">
								About me
							</div>

							<div class="p-2 is-white is-size-2">
								I am a Software Developer
							</div>

							<div class="p-2 is-muted">
								Lorem ipsum dolor sit amet, 
								consectetur adipisicing elit. 
								Ut doloremque ratione perferendis 
								possimus voluptatibus distinctio 
								autem expedita qui unde modi 
								impedit officia illum praesentium amet, 
								vero quos natus veritatis totam!
							</div>
							
						</div>
						
					</div>


					<div class="column p-6 m-4">
						{% include skills.html %}
					</div>
				</div>
			</div>		
		</div>
	
</section>

<script async src='{{ site.baseurl }}/assets/js/typingEffect-b.js'></script>

