
<section class="hero is-fullheight" id="hero">

		<!-- <img class="animate-on-visibility background" alt="" src="{{ site.baseurl }}/assets/images/cover.jpg"> -->
		
		<div class="hero-body">	
			<div class="container" style="min-height: 100vh;">		
				<div class="columns">
					<div class="column m-4" >
						<div class="">
							<span class="">
								<div id="auto-text" style="height: 50px;" class="p-2 is-size-4"></div>
							</span>
							<br>
						</div>	
						
						<div class="">
							<div class="p-2 is-flex is-align-content-center">
								<div class="profile-image pr-4">
									<img src="{{ site.baseurl }}/assets/images/profile-image.jpeg"/>
								</div>
								<div class="">
									<span class="is-orange is-size-4">Emmanuel K. Davidson</span>
									<br>
									<span>About me</span>
									<br>
									kipronofb@gmail.com
									
									<div class="social-media is-flex is-flex-direction-row">

										<a href="https://www.linkedin.com/in/emmanuel-davidson-75988991/" target="_blank">
										<img src="{{ site.baseurl }}/assets/images/brands/linkedin.svg"/>

										</a>
										<a href="https://github.com/FAenX" target="_blank">
										<img src="{{ site.baseurl }}/assets/images/brands/github.svg"/>
										</a>
									</div>
								</div>								
							</div>

							<div class="p-2 is-white is-size-2">
								I am a Software Developer
							</div>

							<div class="p-2 is-muted">
								Lorem ipsum dolor sit amet, 
								consectetur adipisicing elit. 
								Ut doloremque ratione perferendis 
								possimus voluptatibus distinctio 
								autem expedita qui unde modi 
								impedit officia illum praesentium amet, 
								vero quos natus veritatis totam!
							</div>
					</div>
					<div class="column">
						<div class="p-4">
							<div>Current role : Backend Developer</div>
							<div>Period: 2020-2021 </div>
						</div>
						<div class="p-4">
								{%- include current-role-tech-stacks.html -%}
						</div>
						<a class="button 
						animate__animated 
						animate__bounce 
						text-right is-rounded btn-banner mt-6 has-text-white-ter
						" href="#profile">
							My projects
						</a>
					</div>
				</div>	
				<div class="column m-4">
						{% include skills.html %}
					</div>
				</div>
			</div>		
		</div>
	
</section>

<script async src='{{ site.baseurl }}/assets/js/typingEffect-b.js'></script>

