<section class="hero" id="profile">
    <div class="hero-body is-flex is-justify-content-center is-flex-direction-column is-align-content-center is-align-items-center">
        <!-- title -->      
        <p class="pb-2  has-text-weight-bold is-size-2 is-orange">
            My Projects
        </p>
        <p class="" >
            These are some of the projects I have been involved in.
        </p>               
          
            
       
        
            
        <div class="p-4 zoom-on-scroll animate__animated animate__pulse animate_slow is-flex is-justify-content-center is-flex-direction-column is-align-content-center is-align-items-center">

            {%- include projects-panel.html -%}
            
            
            
            <a class="button animate__animated animate__bounce text-right is-rounded 
            btn-banner mt-6 has-text-white-ter" href="#top">
                Back to top
            </a>
            
        </div>
             
    </div>    
</section>