<section class="hero" id="profile">
    <div class="hero-body">
        <div class="columns m-6">
            <div class="column p-4">
                <div class="is-flex-direction-column is-flex is-align-content-center is-justify-content-center">        
                    <div class="pb-6 pl-2 has-text-weight-bold is-size-2 is-orange">
                        My Projects
                    </div>
                    <div class="" >
                        Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. 
                        Ut doloremque ratione perferendis 
                        possimus
                    </div>
                    <div class="">
                        <a class="button animate__animated animate__bounce text-right is-rounded 
                        btn-banner mt-6 has-text-white-ter" href="#top">
                            Back to top
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="column p-4">
                {%- include projects-panel.html -%}
            </div>
        </div>        
    </div>    
</section>