<div class="container is-flex is-flex-direction-column">
    <div class="column is-size-8 p-4 personal-info zoom-on-scroll animate__animated animate__pulse animate_slow">
        <div class="is-orange p-4">
            Key skills
        </div>
        <div class="p-4">
            <div>
                <span class="mt-4">
                    Python: 
                    <span class="pl-2 is-size-7">Advanced</span>
                </span>
                <br>
                <progress class="progress is-small" value="80" max="100">15%</progress>  

            </div>
            <div class="mt-4">
                <span class="mt-4">
                    Javascript
                    <span class="pl-2 is-size-7">Advanced</span>
                </span>
                <progress class="progress is-small"  value="80" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    HTML
                    <span class="pl-2 is-size-7">Advanced</span>
                </span>
                <progress class="progress is-small"  value="75" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    CSS
                    <span class="pl-2 is-size-7">Advanced</span>
                </span>
                <progress class="progress is-small"  value="75" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    Linux
                    <span class="pl-2  is-size-7">Advanced</span>
                </span>
                <progress class="progress is-small"  value="85" max="100">15%</progress>            
            </div>
                      
        </div>
        
        
    </div>	
    
    <div class="column is-size-8 p-4 personal-info">
        <div class="is-orange p-4">
            Other tech stack
        </div>
        <div>
            {%- include tech-stacks.html -%}
        </div>
    </div>	

    
   
</div>