<div class="container is-flex is-flex-direction-column">
    <div class="column is-size-8 p-4 personal-info">
        <div class="is-orange p-4">
            Key skills
        </div>
        <div class="p-4">
            <div>
                <span class="mt-4">
                    Python
                </span>
                <progress class="progress is-small" value="80" max="100">15%</progress>  

            </div>
            <div class="mt-4">
                <span class="mt-4">
                    Javascript
                </span>
                <progress class="progress is-small"  value="80" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    HTML
                </span>
                <progress class="progress is-small"  value="75" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    CSS
                </span>
                <progress class="progress is-small"  value="75" max="100">15%</progress>            
            </div>

            <div class="mt-4">
                <span class="mt-4">
                    Linux
                </span>
                <progress class="progress is-small"  value="85" max="100">15%</progress>            
            </div>
                      
        </div>
        
        
    </div>	
    
    <div class="column is-size-8 p-4 personal-info">
        <div class="is-orange p-4">
            Tech stacks
        </div>
        <div>
            {%- include tech-stacks.html -%}
        </div>
    </div>	

    
    <div class="column animate__animated animate__bounce text-right">
        <a class="button is-rounded btn-banner mt-6 has-text-white-ter">
            Learn more
        </a>
    </div>
</div>