<div class="container">
    <div class="content-wrapper">
        <div class="is-flex is-flex-direction-row  is-flex-wrap-wrap">
           
            <!--  -->
           
            <div class="m-2">
                <div class="ball levitate has-version">
                    <img src="{{ site.baseurl }}/assets/images/brands/bulma.svg"/>
                    <div class="v-indicator">
                        0.9
                    </div>
                </div>
                <span class="is-size-7">Bulma CSS</span>
            </div>

            <div class="m-2">
                <div class="ball levitate has-version">
                <img src="{{ site.baseurl }}/assets/images/brands/sass.svg"/>
                <br>
            </div>
            <span class="is-size-7">Sass</span>
        </div>
           
            

        <div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
           
            <!--  -->
            
        </div>
    </div>
</div>