<div class="container">
    <div class="content-wrapper">
        <div class="is-flex is-flex-flow-row is-justify-content-center is-flex-wrap-wrap has-text-centered">
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/python.png"/>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/node.png"/>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/node.svg"/>
                </div>
            </div>
            <div class="column is-3">
                <div class="ball levitate has-version">
                    <img src="{{ site.baseurl }}/assets/images/brands/bulma.svg"/>
                    <div class="v-indicator">
                        0.9
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/sass.svg"/>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/gulp.svg"/>
                </div>
            </div>
            
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/sass.svg"/>
                </div>
            </div>
            
        </div>

        <div class="is-flex is-flex-flow-row is-justify-content-center is-flex-wrap-wrap has-text-centered">
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/sass.svg"/>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-1">
                    <img src="{{ site.baseurl }}/assets/images/brands/sass.svg"/>
                </div>
            </div>
            <!--  -->
            <div class="column is-3">
                <div class="ball levitate has-delay-2">
                    <img src="{{ site.baseurl }}/assets/images/brands/gulp.svg"/>
                </div>
            </div>
            <div class="column is-3">
                <div class="ball levitate has-version">
                    <img src="{{ site.baseurl }}/assets/images/brands/bulma.svg"/>
                    <div class="v-indicator">
                        0.9
                    </div>
                </div>
            </div>
            <!--  -->
            
            
        </div>
    </div>
</div>