--- 
--- 
$progress-border-radius: 0; 
$panel-heading-background-color: #000000;
$panel-heading-color: #ffffff;
$panel-block-active-color: #ff6101;
$panel-item-border: 1px solid #ff6101;

@import 'bulma/bulma';

@import 'animations';

body {
    color: #ffffff;
}

.background {
    position: fixed;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.btn-banner {
    padding: 1.4rem;
    width: 10rem;
    background-color: transparent;
    border: 2px solid #ff6101;
}

#hero {
    background-color: #1a1a1a;
}
.hero-body{
    background-color: #00000044;
}

.personal-info{
    background-color: #000000;
    margin: 5px;
    // min-height: 300px;
    
    // box-shadow: 0 1px 1px 0 #8080808e;
}

.is-orange{
    color: #ff6101;
}

.is-white{
    color: #fdfdfd;
}

.is-muted{
    color: #ffffffdc;
}

.c {
    border: #ff6101 1px solid;
}


// 
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(112, 111, 111, 0.226);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.06);
    box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.06);
    margin: 0 auto;
}

.v-indicator {
    position: absolute;
    top: 3px;
    right: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #00D1B2;
    font-size: .6rem;
    font-weight: 500;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile-image {
    
    img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
}

section {
    background-color: #242424;
}

// footer
.footer {
    background: #000000;
}

.logo-text {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    font-size: .9rem;
}

.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    height: 45px;
    margin: 10px auto;
}

.coderafiki {
    display: flex;
    flex-flow: column;
    padding: 5px 0;
}

.role {
    img {
        height: 30px;
        width: 30px;
    }
}

.panel-block {
    // opacity: 0.1;
}

footer {
    img{
        border-radius: 50%;
    }
}


.made-by{
    img{
        height: 20px;
        width: 20px;
    }
}

.social-media {
    img {
        height: 20px;
        width: 20px;
        margin: 5px;
    }
}


